<% layout('adminlayout') %>
<div class="row collapse">
	<div class="medium-10 columns medium-offset-1" align="center">
		<h4>Summary of monthly farm status in <i class="fa fa-usd" aria-hidden="true"></i> (USD) </h4>
		<table>
			<thead>
				<tr>
					<th> Year</th>
					<th> Month</th>
					<th> Gross Income</th>
					<th>Expenses</th>
					<th>Profit/Loss</th>	
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>2016</td>
					<td>September</td>
					<td>530</td>
					<td>610</td>
					<td>-80</td>
				</tr>
				<tr>
					<td></td>
					<td>October</td>
					<td>730</td>
					<td>760</td>
					<td>-30</td>
				</tr>
				<tr>
					<td></td>
					<td>November</td>
					<td>850</td>
					<td>790</td>
					<td>60</td>
				</tr>	
				<tr>
					<td></td>
					<td>December</td>
					<td>1020</td>
					<td>870</td>
					<td>150</td>
				</tr>
				<tr>
					<td>2017</td>
					<td>January</td>
					<td>1456</td>
					<td>1240</td>
					<td>216</td>
				</tr>
				<tr>
					<td></td>
					<td>February</td>
					<td>1995</td>
					<td>1693</td>
					<td>302</td>
				</tr>
				<tr>
					<td></td>
					<td>March</td>
					<td>1787</td>
					<td>1545</td>
					<td>242</td>
				</tr>	
				<tr>
					<td></td>
					<td>April</td>
					<td>2170</td>
					<td>1880</td>
					<td>290</td>
				</tr>
				<tr>
					<td></td>
					<td>May</td>
					<td>2420</td>
					<td>2080</td>
					<td>340</td>
				</tr>


			</tbody>
		</table>	
	</div>
</div>
