<div class="row collapse">
	<div class="medium-12 columns" >
		<div class="top-bar navbarcolor" style="padding : 0; ">
			<div class="medium-2 columns sidebar" align="center" >
				<h5 style="color : #ccffff;">Agrimon Admin </br>Dashboard</h5>
			</div>
			<div class="medium-10 columns">
				<div class="top-bar-left " >
					<ul class="menu ">
						<li class="navbarcolor"><a class="dashnav" href="/">
							<i class="fa fa-home fa-3x" aria-hidden="true"></i>
							Home</a></li>
					</ul>
				</div>
				<div class="top-bar-right">
					<ul class="menu">
						<li class="navbarcolor">
							 <h4 style="color:white;"> Welcome to Agrimon Admin Dashboard</h4>
						</li>
						<li class="navbarcolor"><a class="dashnav"href="/logout"> Logout
							<i class="fa fa-sign-out fa-3x" aria-hidden="true"></i>
						</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
