<div class="medium-2 columns sidebar"  data-equalizer-watch>
	<ul class="menu vertical" align="center">
  <li ><a href="#">
		 <i class="fa fa-user-circle-o fa-2x dash_icons" aria-hidden="true"></i> </br><%= user.username %>
	</a>
	</li>
	<li <% if (page === 'users') { %>class="active" <% } %>><a href="/agrimonadmin">
		<i class="fa fa-users fa-2x dash_icons" aria-hidden="true"></i> </br> <strong>View Users </strong>
	</a></li>
  <li <% if (page === 'farmstatus') { %>class="active" <% } %>><a href="/status">
		<i class="fa fa-bar-chart fa-2x dash_icons" aria-hidden="true"></i> </br> <strong>Farm Status</strong>
	</a></li>
	</ul>
</div>
