<DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Wundanyi Farm</title>

    <!-- <link rel="stylesheet" href="/bower_components/foundation/css/foundation.css"> -->
    <link rel="stylesheet" href="/bower_components/foundation-sites/dist/css/foundation.css">
		 <link rel="stylesheet" href="/css/styles.css">
	</head>
