<nav>
<div class ="row ">
    <div class =" medium medium-centered columns  ">
     <div id="stickydiv">
        <div class="top-bar">
          <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
            <!--  <li class="menu-text">WundzFarm</li> -->
              <li>
                <a href="#">Home</a>
              </li>
              <li><a href="#">Animal records</a></li>
              <li><a href="#">Crop recods</a></li>
              <li><a href="#">Farm input</a></li>
              <li><a href="#">Production</a></li>
            </ul>
          </div>
          <div class="top-bar-right">
            <ul class="menu collapse">
              <li><input type="search" placeholder="Search"></li>
              <li><button type="button" class="button">Search</button></li>
            </ul>
         </div>
        </div>
        <div>
    </div>
</div>
</nav>
