<div class="medium-2 columns" data-equalizer-watch>
	<div>
		<%= user.local.username %>
	</div>
	<div>
		<a href="#">Animal records</a>
	</div>
	<div>
		<a href="#">Crop records</a>
	</div>
	<div>
		<a href="#">Production records</a>
	</div>
	<div>
		<a href="#">Farm Input</a>
	</div>
</div>