<div class="row js-content">
  <div class="medium columns ">
    <div  class="callout">
      <h2 class="centeralign"> Welcome to Agrimon farm management system.</h2>
      <h3 class="centeralign">automate your farm activities with our system </h3>
      <p> <h5>We value agri-business and understand how important it is to the country's economy.
        Over the years, farmers have been using manual and traditional ways to
        manage their farm activities. This worked well, however, farming has become
        complex and hence need of a computerised system to manage the farm. This system is all
      about that &mdash; automating your farm </h5></p>
      <div class="row">
          <div class="medium medium-offset-5 columns">
          <a href="/login" class="button large center">Get started</a>
          </div>
      </div>
    </div>
  </div>
</div>
