<% layout('dashboardlayout') %>
<ul class="tabs" data-tabs id="animal-tabs">
  <li class="tabs-title "><a href="#newanimal" aria-selected="true"><h5>New Animal</h5></a></li>
  <li class="tabs-title is-active"><a href="#health"><h5>Health</h5></a></li>
  <li class="tabs-title"><a href="#breeds"><h5>Breeding</h5></a></li>
    <li class="tabs-title"><a href="#production"><h5>Production</h5></a></li>
</ul>

<div class="tabs-content" data-tabs-content="animal-tabs">
  <div class="tabs-panel is-active" id="health">
    <div class="callout success" style="margin-bottom: 1%;">
      <p> Animal health is a very important issue and needs to be handled with care.
        Ensure  you always record every activity and the records are correct.
      </p>
    </div>
    <div class="row" style="margin-bottom: 1%;">
      <div class="medium-6 columns medium-offset-4" style="margin-top:2%" align="center">
        <% include ../partials/flash %>
      </div>
    </div>
    <form action="/healthcreate" method="post">
      <div class="row">
        <div class="medium-3 columns medium-offset-1">
          <label><h5>Tag Number</strong></h5>
        </div>
        <div class="medium-6 columns end">
          <input type="text" name="tagnum" placeholder="Animal tag number">
        </div>
      </div>
      <div class="row">
        <div class="medium-3 columns medium-offset-1">
          <label><h5>Disease Name </h5></label>
        </div>
        <div class="medium-6 columns end">
          <input type="text" name='disease' placeholder="Disease diagnosed/vaccinated">
        </div>
      </div>
      <div class="row">
        <div class="medium-3 columns medium-offset-1">
          <label><h5>Date Diagnosed</h5></label>
        </div>
        <div class="medium-6 columns end">
          <input type="date" name="diagnosedate" >
        </div>
      </div>
      <div class="row">
        <div class="medium-3 columns medium-offset-1">
          <label><h5>Total cost</h5></label>
        </div>
        <div class="medium-6 columns end">
          <input type="number" name="cost" placeholder="The cost charged for vet services and drugs">
        </div>
      </div>
      <div class="row">
        <div class="medium-3 columns medium-offset-1">
          <label><h5>Next Dose </h5></label>
        </div>
        <div class="medium-6 columns end">
          <input type="date" name="nextdose" placeholder="Next treatment/vaccination">
        </div>
      </div>
      <div class="row">
        <div class="medium-3 medium-offset-6">
          <button class="button large"type="submit">Save Records</button>
        </div>
      </div>
    </form>
  </div>
  <div class="tabs-panel is-active" id="newanimal">
    <div class="callout success" style="margin-bottom: 1%;">
      <p> Recently bought a new animal? Dont forget to input the animal's deatails
        to your system. This will help in keeping track of its progress in the farm.
      </p>
    </div>
<div class="row" style="margin-bottom: 1%;">
  <div class="medium-6 columns medium-offset-4" style="margin-top:2%" align="center">
    <% include ../partials/flash %>
  </div>
</div>
    <form action="/animalnew" method="post">
      <div class="row">
        <div class="medium-3 columns medium-offset-1">
          <label><h5> Animal species</h5></label>
        </div>
        <div class="medium-6 columns end">
          <select name="species">
            <option>Select Animal Species</option>
            <option value="cow">Cow</option>
            <option value="goat">Goat</option>
            <option value="sheep">Sheep</option>
            <option value="donkey">Donkey</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="medium-3 columns medium-offset-1">
          <label><h5>Tag Number</strong></h5>
        </div>
        <div class="medium-6 columns end">
          <input type="text" name="tagnum" placeholder="Animal tag number">
        </div>
      </div>
      <div class="row">
        <div class="medium-3 columns medium-offset-1">
          <label><h5>Animal gender </h5></label>
        </div>
        <div class="medium-2 columns">
            Female :
          <input type="radio" name="gender"  value="female" checked="checked">
        </div>
        <div class="medium-2 columns end">
            Male :
          <input type="radio" name="gender"  value="male">
        </div>
      </div>
      <div class="row">
        <div class="medium-3 columns medium-offset-1">
          <label><h5>Date Bought/born</h5></label>
        </div>
        <div class="medium-6 columns end">
          <input type="date" name="date">
        </div>
      </div>
      <div class="row">
        <div class="medium-3 medium-offset-6">
          <button class="button large"type="submit">Save Records</button>
        </div>
      </div>
    </form>
  </div>
  <div class="tabs-panel" id="breeds">
    <p><h1>Hello, this is where you keep trck of all your animal breeds</h1>Suspendisse dictum feugiat nisl ut dapibus.  Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.  Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
  </div>
</div>
  <div class="tabs-panel" id="production">
    <p>Suspendisse dictum feugiat nisl ut dapibus.  Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.  Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
  </div>
</div>
