<% include partials/masterhead %>

<body>
	<header>
		<% include admindashboard/navbar %>
	</header>
	<div class="row" data-equalizer data-equalize-on="medium" style="background-color:  #fff;">
		<% include admindashboard/sidebar %>
		<div class="medium-10 columns" data-equalizer-watch>
			  <%-body %>
		</div>
	</div>
<% include partials/pageScripts %>
</body>
