<% include partials/masterhead %>

<body>
	<header>
		<% include dashboard/navbar %>
	</header>
	<div class="row">
		<% include dashboard/sidebar %>
		<div class="medium-10 columns">
			<%-body %>
		</div>
	</div>

</body>