<% include partials/masterhead %> <!--include the header with css file links -->
	<body>
		<header >
			<% include partials/home/homeheader %>
			<% include partials/navbar%>
		</header>
				<% include partials/home/introduction %>
				<% include partials/home/animals %>
						<% include partials/home/crops %>

		<!-- include the javaScript files-->
			<% include partials/pageScripts%>
				<% include partials/footer%>
  </body>
</html>
