<% include partials/masterhead %>


<div class="row" style="margin-top : 2%; ">
  <div class="medium-5 columns medium-offset-3" style="background-color: #d5d9ca; ">
      <form action="/session/create" method="post" >
        <div class="row">
          <div class="medium-8 columns medium-offset-2" align="center">
            <h1>Login</h1>
          </div>
        </div>
        <% if (message.length > 0) { %>
            <div class="row ">
            <div class="medium-8  columns medium-offset-2">
              <div class="callout small alert ">
                   <%= message %>
              </div>
            </div>
            </div>
            <% } %>
        <div class="row" >
          <div class="medium-8 columns medium-offset-2" >
            <label> <h6>User Name</h6>
               <input type="text" name="username" placeholder="User name">
            </label>
          </div>
        </div>
        <div class="row" >
          <div class="medium-8 columns medium-offset-2" >
            <label><h6>Password</h6>
               <input type="text" name="password" placeholder="Enter Password">
            </label>
          </div>
        </div>
        <div class="row" >
          <div class="medium-4 columns medium-offset-2" >
            <button type="submit" class="button large"><strong>Login</strong></button>
          </div>
          <div class="medium-4 columns end">
            <p> Not yet registered? </br><a href="/signup"><strong>Signup</strong></a></p>
          </div>
        </div>
      </form>
  </div>
</div>
