<% include partials/masterhead %>

<div class="row">
  <div class="medium-4 columns medium-offset-4">
    <h1> Login</h1>
  </div>
</div>

<% if (message.length > 0) { %>
    <div class="row collapse">
    <div class="medium-4  columns medium-offset-4">
      <div data-alert class="alert-box warning ">
        <%= message %>
        <a href="#" class="close">&times;</a>
      </div>
    </div>
    </div>
    <% } %>

<form action="/session/create" method="post">

  <div class="row" >
    <div class="medium-4 columns medium-offset-4" >
      <label>User Name
       <input type="text" name="username" placeholder="User name">
     </label>
    </div>
  </div>

  <div class="row">
    <div class="medium-4 columns medium-offset-4">
      <label>password
       <input type="password" name="password" placeholder="email adress">
     </label>
    </div>
  </div>
  <div class="row">
    <div class="medium-4 columns medium-offset-4">
      <button type="submit" class="button success">Login</button>
    </div>
  </div>
</form>
