<% include partials/masterhead %>
<div class="row" style="margin-top : 5%; ">
  <div class="medium-5 columns medium-offset-4" style="background-color: #d5d9ca; ">
      <form action="/session/create" method="post" >
        <div class="row">
          <div class="medium-8 columns medium-offset-2" align="center">
            <h1>Login</h1>
          </div>
        </div>
        <div class="row">
          <div class="medium-8 columns medium-offset-2" style="margin-top:2%; margin-bottom: 2%;">
            <% include /partials/flash %>
          </div>
        </div>
        <div class="row" >
          <div class="medium-8 columns medium-offset-2" >
            <label> <h6>User Name</h6>
               <input type="text" name="username" placeholder="User name" required>
            </label>
          </div>
        </div>
        <div class="row" >
          <div class="medium-8 columns medium-offset-2" >
            <label><h6>Password</h6>
               <input type="password" name="password" placeholder="Enter Password" required>
            </label>
          </div>
        </div>
        <div class="row" >
          <div class="medium-4 columns medium-offset-2" >
            <button type="submit" class="button"><strong>Login</strong></button>
          </div>
          <div class="medium-4 columns end">
            <p> Not yet registered? </br><a href="/signup"><strong>Signup</strong></a></p>
          </div>
        </div>
		<div class="row">
			<div class="medium-6 columns medium-offset-2">
				<p> Forgot password? <a href="/resetpass">Reset</a></p>
			</div>
		</div>
      </form>
  </div>
</div>
<% include partials/pageScripts %>
