<% include partials/masterhead %>

<div class="row" style="margin-top : 2%; ">
    <div class="medium-5 columns medium-offset-3" style="background-color: #d5d9ca; ">
        <form action="/user/create" method="post" >
          <div class="row">
            <div class="medium-8 columns medium-offset-2" align="center">
              <h1>Signup</h1>
            </div>
          </div>
          <div class="row">
            <div class="medium-8 columns medium-offset-1" style="margin-top:2%; margin-bottom: 2%;">
              <% include /partials/flash %>
            </div>
          </div>
          <div class="row" >
            <div class="medium-8 columns medium-offset-2" >
              <label> <h6>First Name</h6>
                 <input type="text" name="firstname" placeholder="first name">
              </label>
            </div>
          </div>
          <div class="row" >
            <div class="medium-8 columns medium-offset-2" >
              <label><h6>Last Name</h6>
                 <input type="text" name="lastname" placeholder="last name">
              </label>
            </div>
          </div>
          <div class="row" >
            <div class="medium-8 columns medium-offset-2" >
              <label><h6>User Name</h6>
                 <input type="text" name="username" placeholder="User Name">
              </label>
            </div>
          </div>
          <div class="row" >
            <div class="medium-8 columns medium-offset-2" >
              <label><h6>Email</h6>
                 <input type="email" name="email" placeholder="Enter Email">
              </label>
            </div>
          </div>
          <div class="row" >
            <div class="medium-8 columns medium-offset-2" >
              <label><h6>Password</h6>
                 <input type="password" name="password" placeholder=" Password">
              </label>
            </div>
          </div>
          <div class="row" >
            <div class="medium-3 columns medium-offset-2" >
              <button type="submit" class="button large">Signup</button>
            </div>
            <div class="medium-5 columns end">
              <p> Already registered? </br><a href="/login"><strong>Login</strong></a></p>
            </div>
          </div>
        </form>
    </div>
  </div>
  <% include partials/pageScripts %>
