body{
  margin-top: 1%;
  background-color:  #edeff0;
  overflow-x: hidden;
}
/* ------------------------------*/
/* ---navigation bar styles ---- */
/* ------------------------------*/

.stickynav{
  width: 89%;
	position: fixed;
	top: 0;
	margin-right: 3%;
	background-color:  #d5d9ca;
	box-shadow: 0 2px 2px #747474;
	z-index:999;
}
.js-content{
  width: 86.6%
  padding :0;

}

/* ------------------------------*/
/* --- images styles ---- */
/* ------------------------------*/
#animalimg{
  height: 350;
  width: 100%;
}
.banner-img{
  height:auto;
  width: 100%;
}
.centeralign{
  text-align: center;
}
/* ------------------------------*/
/* --- footer styles ---- */
/* ------------------------------*/
.callout{
  margin-bottom: 0;
}
.columns{
  padding-left: 0;
  padding-right: 0;
}
.footer{
  padding-top: 0;
  color: white;
  background-color:  #34425A;
}
.contacts-twitter a:hover {
  color : #00aced;
}
.contacts-inst a:hover {
  color :#bc2a8d;
}
.contacts-fb a:hover {
  color : #3b5998;
}
.contacts-ytb a:hover {
  color : #bb0000;
}
/* ------------------------------*/
/* --- Dasboard styles #899dc1---- */
/* ------------------------------*/
.navbarcolor{
  background-color: #747eaa;
}
.sidebar{
  background-color: #34425A;
}
.sidebar ul li a, .contacts a {
  color: #ccffff;
}
.sidebar ul li a:hover{
  color:#ffffcc;
}
.dash_icons{
  margin-bottom: 9px;
}
.dashnav{
  color: #ccffff;
}
.dashnav:hover{
  color: white;
}
